{
    "semi": true,
    "singleQuote": true,
    "arrowParens": "avoid",
    "printWidth": 120,
    "quoteProps": "consistent",
    "trailingComma": "es5",
    "tabWidth": 2,
    "endOfLine": "lf",
    "bracketSpacing": true
}